.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #282c34;
  height: 100%;

  canvas {
    width: 100%;
    height: 100%;
  }

  .transformBox {
    padding: 50px;
    position: absolute;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .animation {
    animation: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
